.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: hsl(210, 46%, 95%);
}

main {
    border-radius: 20px;
    background-color: white;
    margin: 15% 15%;
    display: flex;
    flex-direction: row;
}

#leftArticle {
    border-radius: 20px 0 0 20px;
    width: 40%;
}

#title {
    margin: 0;
    font-size: 20px;
}

#drawerImage {
    border-radius: 20px 0 0 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#rightArticle {
    padding: 5vw;
    border-radius: 0 20px 20px 0;
    width: 60%;
}

#bottomPart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#person {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#description {
    font-size: 12px;
}

#avatarContainer { 
    width: 5vw;
    min-width: 30px;
    height: auto;
    margin: 5px;
}

#avatarImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}

#personData {
    margin: 5px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

#personName {
    display: inline;
    margin: 4px;
    font-size: 12px;
}

#personDateOfBirth {
    display: inline;
    margin: 4px;
}

#sharePart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#shareBubbleContainer {
    position: relative;
}

#shareBubble {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 2vh;
    left: -9vw;
}

#shareOnClick {
    background-color: hsl(217, 19%, 35%);
    border-radius: 10px;
    display: flex;
    padding: 2vh 2vw 2vh 2vw;
    /* position: absolute; */
    /* bottom: 3.5vh;
    left: -9vw; */
}

#simpleBubbleArrow {
    width: 0;
    height: 0;
    border-top: 2vh solid hsl(217, 19%, 35%);
    border-left: 1vw solid white;
    border-right: 1vw solid white;
    /* position: absolute; */
    /* bottom: 1.6vh;
    left: -1vw; */
}

#shareOnClick > img {
    margin-left: 2vw;
    width: 1.5vw;
    height: 1.5vw;
}

#textShare {
    margin: 0;
    font-size: 1.5vw;
}

#shareIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 3vw;
    min-width: 25px;
    height: 3vw;
    min-height: 25px;
    /* margin: 10px; */
}

#shareIcon {
    width: 40%;
    height: auto;
}

.shareIconDefault {
    /* fill: hsl(212, 23%, 69%); */
    filter: invert(50%) sepia(48%) saturate(198%) hue-rotate(175deg) brightness(89%) contrast(92%);;
}

.shareIconClick {
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(2deg) brightness(110%) contrast(101%);
}

.shareIconContainerDefault {
    background-color: hsl(210, 46%, 95%)
}

.shareIconContainerClick {
    background-color:hsl(214, 17%, 51%);
}

.disable {
    display: none;
}

@media only screen and (max-width: 400px) {
    main {
        margin: 15% 5%;
        display: flex;
        flex-direction: column;
    }
    #leftArticle {
        border-radius: 20px 20px 0 0;
        width: 100%;
        height: ;
    }
    #drawerImage {
        border-radius: 20px 20px 0 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #title {
        font-size: 5vw;
    }
    #description {
        font-size: 3.5vw;
    }
    #personName {
        font-size: 3vw;
    }
    #personDateOfBirth {
        font-size: 2vw;
    }
    #rightArticle {
        border-radius: 0 0 20px 20px;
        width: 85%;
    }
    #avatarContainer {
        margin: 0;
    }
    #personData {
        margin: 0;
    }
    #sharePart {
        display: flex;
        flex-direction: row;
        align-items: center;
    }


    #shareBubble {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        bottom: 0;
    }
    #shareOnClick {
        position: absolute;
        display: flex;
        align-items: center;
        width: 78vw;
        height: 10vw;
        left: -58vw;
        bottom: -8vw;
    }
    #shareOnClick > * {
        margin: 3vw;
    }
    #textShare {
        font-size: 4vw;
    }
    #shareOnClick > img {
        width: 3vw;
        height: 3vw;
    }
    /* #shareIconContainer {
        bottom: -2vw;
    } */
    #shareIconContainer {
        /* position: relative; */
        width: 4vw;
        height: 4vw;
        /* margin: 10px; */
    }
    #shareIcon {
        width: 3vw;
        height: auto;
    }

    #simpleBubbleArrow {
        display: none;
    }
}